* {
  background-color: black;
  background-size: contain;
}

.style {
  width: 25rem;
  background-color: transparent;
  border: none;
}

.fondo {
  background: transparent;
}

.btnColorTrash {
  background: transparent;
  border: none;

  text-align: center;
}

.width {
  font-size: 2em;
}
